
{% extends 'base.html' %}

{% block page_content %}
    <table class="table table-bordered">
        <thead>
        <tr class="table-primary">
            <th>Название</th>
            <th>Дата поступления</th>
            <th>Цена</th>
            <th>Единица измерения</th>
            <th>Поставщик</th>
        </tr>
        </thead>
        <tbody>
        {% for product in object_list %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.received_date }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.unit }}</td>
                <td>{{ product.vendor_name}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" style="background-color:red">Добавить товар</button>
{% endblock %}